@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.white {
    background: rgb(255,255,255);
}

.green {
    background: rgb(50, 255, 0);
}

.red {
    background: rgb(255,0,0);
}

